{% extends "html/base.html.j2" %}

{% block title %}
    Allen Brain
{% endblock %}

{% block dependencies_header %}
{# datatable #}
<link rel="stylesheet" type="text/css"
      href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
{# for page skip with datatable https://datatables.net/plug-ins/pagination/input #}

{# sliders #}
<link rel="stylesheet" type="text/css"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/autocomplete.css') }}"/>
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/allen_brain_connectivity.css') }}"/>
{% endblock %}

{% block content %}
    <p>
        We can also use <a href="https://connectivity.brain-map.org/projection">
        Allen Brain Atlas website</a> to get the data for experiments. Format
        <em>.xml</em> (experiment) or <em>.csv</em> (experiments container).
    </p>

    <div class="content-bg table-sm">
        <div class="filter-exp">
            <h2>Experiments filters</h2>
            <div class="btn-group btn-group-toggle" role="group">
                <button id="btn-include" class="btn btn-success active" type="button"
                        onclick="showIncludeFilters()">
                    include
                </button>
                <button id="btn-exclude" class="btn btn-danger" type="button"
                        onclick="showExcludeFilters()">
                    exclude
                </button>
            </div>
            <div id="include-filters" class="div-filter-setter">
                <button class="btn btn-outline-info" data-toggle="collapse" data-target="#include-filters-id">
                    id
                </button>
                <div id="include-filters-id" class="collapse">
                    <hr/>
                    <label class="form-check-label" for="include-id">
                        <strong>experiment(s) id: </strong>
                    </label>
                    <input id="include-id" type="text" name="include-id"
                           placeholder="id_1; id_2; ..." autocomplete="off"/>
                    <br/>
                    <hr/>
                </div>
                <button class="btn btn-outline-info" data-toggle="collapse" data-target="#include-filters-structure">
                    structure
                </button>
                <div id="include-filters-structure" class="collapse">
                    <hr/>
                    <div class="autocomplete">
                        <label class="form-check-label" for="include-name">
                            <strong>name(s): </strong>
                        </label>
                        <input type="text" id="include-name" name="include-name"
                            placeholder="name_1; name_2; ..." autocomplete="off"/>
                    </div>
                    <br/>
                    <div class="autocomplete">
                        <label class="form-check-label" for="include-acron">
                            <strong>acronym(s): </strong>
                        </label>
                        <input id="include-acron" type="text" name="include-acron"
                               placeholder="acronym_1; acronym_2; ..." autocomplete="off"/>
                    </div>
                    <hr/>
                </div>
                <button class="btn btn-outline-info" data-toggle="collapse" data-target="#include-filters-injection">
                    injection
                </button>
                <div id="include-filters-injection" class="collapse">
                    <hr/>
                    <label class="form-check-label" for="include-prod-id">
                        <strong>product(s) id: </strong>
                    </label>
                    <input id="include-prod-id" type="text" name="include-prod-id"
                           placeholder="id_1; id_2; ..." autocomplete="off"/>
                    <br/>
                    <strong>volume: </strong>
                    <label class="form-check-label" for="include-min-vol">min</label>
                    <input type="text" id="include-min-vol" name="include-min-vol"
                           placeholder="0.0" autocomplete="off"/>
                    <label class="form-check-label" for="include-max-vol">max</label>
                    <input type="text" id="include-max-vol" name="include-max-vol"
                           placeholder="0.0" autocomplete="off"/>
                    <br/>
                    <div class="sliders">
                        <div class="flex-container">
                            <div class="slider-tag">
                                <strong>x axis</strong>
                            </div>
                            <div class="range-info">
                                <label class="text-dark" for="include-anterior">anterior:</label>
                                <input type="text" id="include-anterior"
                                    style="border:0; color:#f6931f; font-weight:bold;"/>
                            </div>
                            <div class="slider-div">
                                <div id="include-slider-range-depth" class="slider"></div>
                            </div>
                            <div class="range-info">
                                <label class="text-dark" for="include-posterior">posterior:</label>
                                <input type="text" id="include-posterior"
                                    style="border:0; color:#f6931f; font-weight:bold;"/>
                            </div>
                        </div>

                        <div class="flex-container">
                            <div class="slider-tag">
                                <strong>y axis</strong>
                            </div>
                            <div class="range-info">
                                <label class="text-dark" for="include-higher">higher:</label>
                                <input type="text" id="include-higher"
                                    style="border:0; color:#f6931f; font-weight:bold;"/>
                            </div>
                            <div class="slider-div">
                                <div id="include-slider-range-height" class="slider"></div>
                            </div>
                            <div class="range-info">
                                <label class="text-dark" for="include-lower">lower:</label>
                                <input type="text" id="include-lower"
                                    style="border:0; color:#f6931f; font-weight:bold;"/>
                            </div>
                        </div>

                        <div class="flex-container">
                            <div class="slider-tag">
                                <strong>z axis</strong>
                            </div>
                            <div class="range-info">
                                <label class="text-dark" for="include-left">left:</label>
                                <input type="text" id="include-left"
                                    style="border:0; color:#f6931f; font-weight:bold;"/>
                            </div>
                            <div class="slider-div">
                                <div id="include-slider-range-width" class="slider"></div>
                            </div>
                            <div class="range-info">
                                <label class="text-dark" for="include-right">right:</label>
                                <input type="text" id="include-right"
                                    style="border:0; color:#f6931f; font-weight:bold;"/>
                            </div>
                        </div>
                    </div>

                    <img id="mouse-brain-img" src="{{ url_for('static', filename='img/mouse_brain.png') }}"/>
                    <canvas id="include-brain-canvas" width="600" height="200">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>

                    <hr/>
                </div>
                <button class="btn btn-outline-info" data-toggle="collapse" data-target="#include-filters-specimen">
                    specimen
                </button>
                <div id="include-filters-specimen" class="collapse">
                    <hr/>
                    <div class="autocomplete">
                        <label class="form-check-label" for="include-line">
                            <strong>line(s): </strong>
                        </label>
                        <input type="text" id="include-line" name="include-line"
                            placeholder="line_1; line_2; ..." autocomplete="off"/>
                    </div>
                    <br/>
                    <label class="form-check-label" for="include-gender-select">
                        <strong>gender: </strong>
                    </label>
                    <select id="include-gender-select" name="include-gender-select" autocomplete="off">
                        <option value="any">ANY</option>
                        <option value="m">M</option>
                        <option value="f">F</option>
                    </select>
                    <br/>
                    <label class="form-check-label" for="include-cre-select">
                        <strong>cre: </strong>
                    </label>
                    <select id="include-cre-select" name="cre-select" autocomplete="off">
                        <option value="any">ANY</option>
                        <option value="false">FALSE</option>
                        <option value="true">TRUE</option>
                    </select>
                    <hr/>
                </div>
            </div>
            <div id="exclude-filters" class="div-filter-setter">
                <button class="btn btn-outline-info" data-toggle="collapse" data-target="#exclude-filter-id">
                    id
                </button>
                <div id="exclude-filter-id" class="collapse">
                    <hr/>
                    <label class="form-check-label" for="exclude-id">
                        <strong>experiment(s) id: </strong>
                    </label>
                    <input id="exclude-id" type="text" name="exclude-id"
                           placeholder="id_1; id_2; ..." autocomplete="off"/>
                    <br/>
                    <hr/>
                </div>
                <button class="btn btn-outline-info" data-toggle="collapse" data-target="#exclude-filters-structure">
                    structure
                </button>
                <div id="exclude-filters-structure" class="collapse">
                    <hr/>
                    <div class="autocomplete">
                        <label class="form-check-label" for="exclude-name">
                            <strong>name(s): </strong>
                        </label>
                        <input type="text" id="exclude-name" name="exclude-name"
                            placeholder="name_1; name_2; ..." autocomplete="off"/>
                    </div>
                    <br/>
                    <div class="autocomplete">
                        <label class="form-check-label" for="exclude-acron">
                            <strong>acronym(s): </strong>
                        </label>
                        <input id="exclude-acron" type="text" name="exclude-acron"
                               placeholder="acronym_1; acronym_2; ..." autocomplete="off"/>
                    </div>
                    <hr/>
                </div>
                <button class="btn btn-outline-info" data-toggle="collapse" data-target="#exclude-filters-injection">
                    injection
                </button>
                <div id="exclude-filters-injection" class="collapse">
                    <hr/>
                    <label class="form-check-label" for="exclude-prod-id">
                        <strong>product(s) id: </strong>
                    </label>
                    <input id="exclude-prod-id" type="text" name="exclude-prod-id"
                           placeholder="id_1; id_2; ..." autocomplete="off"/>
                    <br/>
                    <strong>volume: </strong>
                    <label class="form-check-label" for="exclude-min-vol">min</label>
                    <input type="text" id="exclude-min-vol" name="exclude-min-vol"
                           placeholder="0.0" autocomplete="off"/>
                    <label class="form-check-label" for="exclude-max-vol">max</label>
                    <input type="text" id="exclude-max-vol" name="exclude-max-vol"
                           placeholder="0.0" autocomplete="off"/>
                    <br/>
                    <div class="sliders">
                        <div class="flex-container">
                            <div class="slider-tag">
                                <strong>x axis</strong>
                            </div>
                            <div class="range-info">
                                <label class="text-dark" for="exclude-anterior">anterior:</label>
                                <input type="text" id="exclude-anterior"
                                    style="border:0; color:#f6931f; font-weight:bold;">
                            </div>
                            <div class="slider-div">
                                <div id="exclude-slider-range-depth" class="slider"></div>
                            </div>
                            <div class="range-info">
                                <label class="text-dark" for="exclude-posterior">posterior:</label>
                                <input type="text" id="exclude-posterior"
                                    style="border:0; color:#f6931f; font-weight:bold;">
                            </div>
                        </div>

                        <div class="flex-container">
                            <div class="slider-tag">
                                <strong>y axis</strong>
                            </div>
                            <div class="range-info">
                                <label class="text-dark" for="exclude-higher">higher:</label>
                                <input type="text" id="exclude-higher"
                                    style="border:0; color:#f6931f; font-weight:bold;">
                            </div>
                            <div class="slider-div">
                                <div id="exclude-slider-range-height" class="slider"></div>
                            </div>
                            <div class="range-info">
                                <label class="text-dark" for="exclude-lower">lower:</label>
                                <input type="text" id="exclude-lower"
                                    style="border:0; color:#f6931f; font-weight:bold;">
                            </div>
                        </div>

                        <div class="flex-container">
                            <div class="slider-tag">
                                <strong>z axis</strong>
                            </div>
                            <div class="range-info">
                                <label class="text-dark" for="exclude-left">left:</label>
                                <input type="text" id="exclude-left"
                                    style="border:0; color:#f6931f; font-weight:bold;">
                            </div>
                            <div class="slider-div">
                                <div id="exclude-slider-range-width" class="slider"></div>
                            </div>
                            <div class="range-info">
                                <label class="text-dark" for="exclude-right">right:</label>
                                <input type="text" id="exclude-right"
                                    style="border:0; color:#f6931f; font-weight:bold;">
                            </div>
                        </div>
                    </div>

                    <canvas id="exclude-brain-canvas" width="600" height="200">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>

                    <hr/>
                </div>
                <button class="btn btn-outline-info" data-toggle="collapse" data-target="#exclude-filters-specimen">
                    specimen
                </button>
                <div id="exclude-filters-specimen" class="collapse">
                    <hr/>
                    <div class="autocomplete">
                        <label class="form-check-label" for="exclude-line">
                            <strong>line(s): </strong>
                        </label>
                        <input type="text" id="exclude-line" name="exclude-line"
                            placeholder="line_1; line_2; ..." autocomplete="off"/>
                    </div>
                    <hr/>
                </div>
            </div>
            <script>
                // switch between include and exclude filters
                function showIncludeFilters()
                {
                    $("#exclude-filters").css("display", "none");
                    $("#include-filters").css("display", "block");
                }

                function showExcludeFilters()
                {
                    $("#include-filters").css("display", "none");
                    $("#exclude-filters").css("display", "block");
                }
            </script>
        </div>

        <div id="filter-option">
            <button id="apply" class="btn btn-success">
                apply
            </button>
            <button id="generate-url" class="btn btn-outline-primary">
                generate url
            </button>
            <input type="text" id="filter-url" class="filter-url-group" value=""/>
            <label id="label-copy-url" class="filter-url-group" for="filter-url">Click to copy</label>
        </div>

        <hr style="border: 1px solid black"/>

        <h2>Columns visibility</h2>
        <div class="columns-vis">
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="0"
                       id="experiment-id" value="experiment-id" autocomplete="off" checked/>
                <label class="form-check-label" for="experiment-id">experiment id</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="1"
                       id="injection-structures" value="injection-structures" autocomplete="off" checked/>
                <label class="form-check-label" for="structure-name">structure name</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="2"
                       id="product-id" value="product-id" autocomplete="off" checked/>
                <label class="form-check-label" for="product-id">product id</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="3"
                       id="injection-vol" value="injection-vol" autocomplete="off" checked/>
                <label class="form-check-label" for="injection-vol">injection vol.</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="4"
                       id="injection-x" value="injection-x" autocomplete="off" checked/>
                <label class="form-check-label" for="injection-xyz">injection x</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="5"
                       id="injection-y" value="injection-y" autocomplete="off" checked/>
                <label class="form-check-label" for="injection-xyz">injection y</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="6"
                       id="injection-z" value="injection-z" autocomplete="off" checked/>
                <label class="form-check-label" for="injection-xyz">injection z</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="7"
                       id="transgenic-line" value="transgenic-line" autocomplete="off" checked/>
                <label class="form-check-label" for="transgenic-line">transgenic line</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="8"
                       id="specimen-name" value="specimen-name" autocomplete="off" checked/>
                <label class="form-check-label" for="specimen-name">specimen name</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="9"
                       id="gender" value="gender" autocomplete="off" checked/>
                <label class="form-check-label" for="gender">gender </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="10"
                       id="cre" value="cre" autocomplete="off" checked/>
                <label class="form-check-label" for="cre">cre </label>
            </div>
        </div>

        <hr style="border: 1px solid black"/>

        <table id="experiments" class="datatable row-border" cellspacing="0" width="100%">
            <thead>
                <th>experiment id</th>
                <th>injection structures</th>
                <th>product id</th>
                <th>inj. vol. (mm3)</th>
                <th>inj. x</th>
                <th>inj. y</th>
                <th>inj. z</th>
                <th>transgenic line</th>
                <th>specimen name</th>
                <th>gender</th>
                <th>cre</th>
            </thead>

            <tfoot>
                <th>experiment id</th>
                <th>injection structures</th>
                <th>product id</th>
                <th>inj. vol. (mm3)</th>
                <th>inj. x</th>
                <th>inj. y</th>
                <th>inj. z</th>
                <th>transgenic line</th>
                <th>specimen name</th>
                <th>gender</th>
                <th>cre</th>
            </tfoot>

            <tbody>
                {% for i in range(0, all_exp|length) %}
                <tr>
                    <td>
                        <a href="/experiments/{{ all_exp.iloc[i]['id'] }}" target="_blank" rel="noreferrer">
                            {{ all_exp.iloc[i]['id'] }}
                        </a>
                    </td>
                    <td>
                        <ol>
                        {% for j in range(0, all_exp.iloc[i]['injection_structures']|length) %}
                            <li>
                                <a href="https://atlas.brain-map.org/atlas?atlas=1&structure={{ all_exp.iloc[i]['injection_structures'][j] }}"
                                target="_blank" rel="noreferrer">{{ struct_dict[all_exp.iloc[i]['injection_structures'][j]] }}</a>
                            </li>
                        {% endfor %}
                        </ol>
                    </td>
                    <td>
                        <abbr title="{{ prod_dict[all_exp.iloc[i]['product_id']]['name'] }}:
{{ prod_dict[all_exp.iloc[i]['product_id']]['description'] }}">
                            {{ prod_dict[all_exp.iloc[i]['product_id']]['abbreviation'] }}
                        </abbr>
                    </td>
                    <td>
                        {{ all_exp.iloc[i]['injection_volume'] }}
                    </td>
                    <td>
                        <a target="_blank" rel="noreferrer"
                        href="http://mouse.brain-map.org/agea?seed=P56,{{ all_exp.iloc[i]['injection_x'] }},{{ all_exp.iloc[i]['injection_y'] }},{{ all_exp.iloc[i]['injection_z'] }}&map1=P56,{{ all_exp.iloc[i]['injection_x'] }},{{ all_exp.iloc[i]['injection_y'] }},{{ all_exp.iloc[i]['injection_z'] }}">
                            {{ all_exp.iloc[i]['injection_x'] }}
                        </a>
                    </td>
                    <td>
                        <a target="_blank" rel="noreferrer"
                        href="http://mouse.brain-map.org/agea?seed=P56,{{ all_exp.iloc[i]['injection_x'] }},{{ all_exp.iloc[i]['injection_y'] }},{{ all_exp.iloc[i]['injection_z'] }}&map1=P56,{{ all_exp.iloc[i]['injection_x'] }},{{ all_exp.iloc[i]['injection_y'] }},{{ all_exp.iloc[i]['injection_z'] }}">
                            {{ all_exp.iloc[i]['injection_y'] }}
                        </a>
                    </td>
                    <td>
                        <a target="_blank" rel="noreferrer"
                        href="http://mouse.brain-map.org/agea?seed=P56,{{ all_exp.iloc[i]['injection_x'] }},{{ all_exp.iloc[i]['injection_y'] }},{{ all_exp.iloc[i]['injection_z'] }}&map1=P56,{{ all_exp.iloc[i]['injection_x'] }},{{ all_exp.iloc[i]['injection_y'] }},{{ all_exp.iloc[i]['injection_z'] }}">
                            {{ all_exp.iloc[i]['injection_z'] }}
                        </a>
                    </td>
                    <td>
                        {{ all_exp.iloc[i]['transgenic_line'] }}
                    </td>
                    <td>
                        {{ all_exp.iloc[i]['specimen_name'] }}
                    </td>
                    <td>
                        {{ all_exp.iloc[i]['gender'] }}
                    </td>
                    <td>
                        {{ all_exp.iloc[i]['cre'] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            // activate datatable
            table = $('#experiments').DataTable(
            {
                "scrollX": true,
                lengthMenu: [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]]
            });
        </script>
    </div>

    <br/>

    <div class="content-bg">
        <h2>Filtered experiments</h2>
        <form method="POST" action="{{ url_for('experiments_csv') }}" target="_blank" rel="noreferrer"
                style="display: inline;">
            {{ f_get_csv.csrf_token }}
            {{ f_get_csv.hidden_tag() }}
            <div style="display: none;">
                {{ f_get_csv.filtered_exp }}
            </div>
            {{ f_get_csv.submit_exp_csv(class_="btn btn-primary") }}
        </form>
        <button class="btn btn-primary" data-toggle="collapse" data-target="#average-volume">
            download average volume
        </button>
        <div id="average-volume" class="collapse">
            <hr/>
            <div class="form-group">
                <label for="res-nrrd">resolution (microns):</label>
                <select id="res-nrrd">
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <button id="average-volume-btn" class="btn btn-success">
                download
            </button>
            <hr/>
        </div>
        <button id="copy-id-btn" class="btn btn-outline-primary">
            copy id(s)
        </button>
        <input type="text" id="copy-ids-input" class="copy-ids-group" value=""/>
        <label id="label-copy-ids" class="copy-ids-group" for="copy-ids-input">Click to copy</label>
    </div>

    <br/>

    <div class="content-bg">
        <h2>Experiment search</h2>
        <button class="btn btn-outline-info" data-toggle="collapse" data-target="#experiment-correlation-search">
            correlation search
        </button>
        <div id="experiment-correlation-search" class="collapse">
            <hr/>
            More info on <a href="http://help.brain-map.org/display/api/Connected+Services+and+Pipes#ConnectedServicesandPipes-service::mouse_connectivity_correlation">AllenSDK site</a>
            <br/>
            <br/>
            <form method="POST" action="{{ url_for('form_correlation') }}" target="_blank" rel="noreferrer">
                {{ f_correlation.csrf_token }}
                {{ f_correlation.hidden_tag() }}
                <div class="form-group">
                    {{ f_correlation.row.label }}
                    {{ f_correlation.row(required='required') }}
                </div>
                <div class="form-group">
                    {{ f_correlation.structures.label }}
                    {{ f_correlation.structures() }}
                </div>
                <div class="form-group">
                    {{ f_correlation.hemisphere.label }}
                    {{ f_correlation.hemisphere() }}
                </div>
                <div class="form-group">
                    {{ f_correlation.transgenic_lines.label }}
                    {{ f_correlation.transgenic_lines() }}
                    <p>Specify ID '0' to exclude all TransgenicLines</p>
                </div>
                <div class="form-group">
                    {{ f_correlation.injection_structures.label }}
                    {{ f_correlation.injection_structures() }}
                </div>
                <div class="form-group">
                    {{ f_correlation.primary_structure_only.label }}
                    {{ f_correlation.primary_structure_only() }}
                </div>
                <div class="form-group">
                    {{ f_correlation.product_ids.label }}
                    {{ f_correlation.product_ids() }}
                </div>
                <div class="form-group">
                    {{ f_correlation.start_row.label }}
                    {{ f_correlation.start_row() }}
                </div>
                <div class="form-group">
                    {{ f_correlation.num_rows.label }}
                    {{ f_correlation.num_rows() }}
                </div>
                {{ f_correlation.submit_correlation(class_="btn btn-success") }}
            </form>
            <hr/>
        </div>

        <button class="btn btn-outline-info" data-toggle="collapse" data-target="#experiment-injection-coordinate-search">
            injection coordinate search
        </button>
        <div id="experiment-injection-coordinate-search" class="collapse">
            <hr/>
            More info on <a href="http://help.brain-map.org/display/api/Connected+Services+and+Pipes#ConnectedServicesandPipes-service::mouse_connectivity_injection_coordinate">AllenSDK site</a>
            <br/>
            <br/>
            <form method="POST" action="{{ url_for('form_injection_coord') }}" target="_blank" rel="noreferrer">
                {{ f_inj_coord.csrf_token }}
                {{ f_inj_coord.hidden_tag() }}
                <div class="form-group">
                    {{ f_inj_coord.coord_x.label }}
                    {{ f_inj_coord.coord_x(required='required') }}
                    <p>Min=0, Max=13100 (Midpoint=6550)</p>
                </div>
                <div class="form-group">
                    {{ f_inj_coord.coord_y.label }}
                    {{ f_inj_coord.coord_y(required='required') }}
                    <p>Min=0, Max=7800 (Midpoint=3900)</p>
                </div>
                <div class="form-group">
                    {{ f_inj_coord.coord_z.label }}
                    {{ f_inj_coord.coord_z(required='required') }}
                    <p>Min=0, Max=11300 (Midpoint=5650)</p>
                </div>
                <div class="form-group">
                    {{ f_inj_coord.transgenic_lines.label }}
                    {{ f_inj_coord.transgenic_lines() }}
                    <p>Specify ID '0' to exclude all TransgenicLines</p>
                </div>
                <div class="form-group">
                    {{ f_inj_coord.injection_structures.label }}
                    {{ f_inj_coord.injection_structures() }}
                </div>
                <div class="form-group">
                    {{ f_inj_coord.primary_structure_only.label }}
                    {{ f_inj_coord.primary_structure_only() }}
                </div>
                <div class="form-group">
                    {{ f_inj_coord.product_ids.label }}
                    {{ f_inj_coord.product_ids() }}
                </div>
                <div class="form-group">
                    {{ f_inj_coord.start_row.label }}
                    {{ f_inj_coord.start_row() }}
                </div>
                <div class="form-group">
                    {{ f_inj_coord.num_rows.label }}
                    {{ f_inj_coord.num_rows() }}
                </div>
                {{ f_inj_coord.submit_injection_coord(class_="btn btn-success") }}
            </form>
            <hr/>
        </div>

        <button class="btn btn-outline-info" data-toggle="collapse" data-target="#experiment-source-search">
            source search
        </button>
        <div id="experiment-source-search" class="collapse">
            <hr/>
            More info on <a href="https://alleninstitute.github.io/AllenSDK/allensdk.api.queries.mouse_connectivity_api.html#allensdk.api.queries.mouse_connectivity_api.MouseConnectivityApi.experiment_source_search">AllenSDK site</a>
            <br/>
            <br/>
            <form method="POST" action="{{ url_for('form_source') }}" target="_blank" rel="noreferrer">
                {{ f_source.csrf_token }}
                {{ f_source.hidden_tag() }}
                <div class="form-group">
                    {{ f_source.injection_structures.label }}
                    {{ f_source.injection_structures(required='required') }}
                </div>
                <div class="form-group">
                    {{ f_source.target_domain.label }}
                    {{ f_source.target_domain() }}
                </div>
                <div class="form-group">
                    {{ f_source.injection_hemisphere.label }}
                    {{ f_source.injection_hemisphere() }}
                </div>
                <div class="form-group">
                    {{ f_source.target_hemisphere.label }}
                    {{ f_source.target_hemisphere() }}
                </div>
                <div class="form-group">
                    {{ f_source.transgenic_lines.label }}
                    {{ f_source.transgenic_lines() }}
                </div>
                <div class="form-group">
                    {{ f_source.injection_domain.label }}
                    {{ f_source.injection_domain() }}
                    <p>Specify ID '0' to exclude all TransgenicLines</p>
                </div>
                <div class="form-group">
                    {{ f_source.primary_structure_only.label }}
                    {{ f_source.primary_structure_only() }}
                </div>
                <div class="form-group">
                    {{ f_source.product_ids.label }}
                    {{ f_source.product_ids() }}
                </div>
                <div class="form-group">
                    {{ f_source.start_row.label }}
                    {{ f_source.start_row() }}
                </div>
                <div class="form-group">
                    {{ f_source.num_rows.label }}
                    {{ f_source.num_rows() }}
                </div>
                {{ f_source.submit_source(class_="btn btn-success") }}
            </form>
            <hr/>
        </div>

        <button class="btn btn-outline-info" data-toggle="collapse" data-target="#experiment-hotspot">
            find hotspot
        </button>
        <div id="experiment-hotspot" class="collapse">
            <hr/>
            <form method="POST" action="{{ url_for('form_hotspot') }}" target="_blank" rel="noreferrer">
                {{ f_hotspot.csrf_token }}
                {{ f_hotspot.hidden_tag() }}
                <div class="form-group">
                    {{ f_hotspot.rows.label }}
                    {{ f_hotspot.rows(required='required') }}
                </div>
                <div class="form-group">
                    {{ f_hotspot.injection_structures.label }}
                    {{ f_hotspot.injection_structures() }}
                </div>
                <div class="form-group">
                    {{ f_hotspot.depth.label }}
                    {{ f_hotspot.depth(required='required') }}
                </div>
                {{ f_hotspot.submit_hotspot(class_="btn btn-success") }}
            </form>
            <hr/>
        </div>
    </div>
{% endblock %}

{% block dependencies_scripts %}
{# datatable #}
{# custom #}
<script type="text/javascript" src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}