{% extends "html/base.html.j2" %}

{% block title %}
    Hotspot search
{% endblock %}

{% block dependencies_header %}
{# datatable #}
<link rel="stylesheet" type="text/css"
      href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

{# plotly #}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
    {% if errors|length > 0 %}
    <div class="content-bg">
        <h2>Errors</h2>
        <ul>
            {% for error in errors %}
            <li>Error: {{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <br/>
    {% endif %}

    <div class="content-bg" style="max-width: 600px;">
        <div class="table-sm">
            <table id="crossing-probabilities" class="datatable row-border" cellspacing="0" width="100%">
                <thead>
                    <th>structures</th>
                    <th>probabilities</th>
                </thead>

                <tfoot>
                    <th>structure</th>
                    <th>probabilities</th>
                </tfoot>

                <tbody>
                    {% for key, value in probabilities.items() %}
                    <tr>
                        <td>
                            <a target="_blank" rel="noreferrer" href="#">
                                {{ key }}
                            </a>
                        </td>
                        <td>
                            {{ value }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script>
            // activate datatable
            var table = $('#crossing-probabilities').DataTable(
            {
                "scrollX": true,
                lengthMenu: [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
                "order": [[ 1, 'desc' ]]
            });
        </script>
    </div>

    <br/>

    <div class="content-bg table-sm">
        <div id="matrix-div"></div>
        <script>
            var labels = {{ labels|safe }};
            var rows = {{ rows|safe }};
            var matrix = {{ matrix }};

            // Plotly doc: https://plotly.com/javascript/reference/
            var data = [
              {
                x: labels,
                y: rows,
                z: matrix,
                type: 'heatmap',
                hoverongaps: false
              }
            ];

            var layout = {
                title: 'Projection matrix',
                //margin: {t:0,r:0,b:0,l:20},
                automargin: true,
                xaxis: {
                    categoryorder: "category ascending",
                    automargin: true,
                    tickangle: 0,
                    title: {
                        text: "Structures",
                        standoff: 20
                    }
                },
                yaxis: {
                    type: "category",
                    automargin: true,
                    tickangle: 0,
                    title: {
                        text: "Experiments",
                        standoff: 40
                    }
                }
            };

            Plotly.newPlot('matrix-div', data, layout);
        </script>
    </div>
{% endblock %}

{% block dependencies_scripts %}
{% endblock %}