.form-exp {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
}

#include-filters {
    border-left: 3px solid green;
}

#exclude-filters {
    display: none;
    border-left: 3px solid red;
}

.div-filter-setter {
    padding: 5px 5px 5px 5px;
}

.sliders {
    width: 90%;
    min-width: 600px;
}

.slider-tag {
    width: 80px;
}

.range-info {
    width: 155px;
}

.range-info>input[type=text] {
    width: 50px;
}

.slider-div {
    width: 100%;
    min-width: 500px;
}

.slider {
    margin: 0px 15px 0px 15px;
}

#mouse-brain-img {
    display: none;
}

#filter-option {
    margin-top: 5px;
}

.filter-url-group {
    display: none;
    min-width: 50px;
    max-width: 400px;
}

.columns-vis {
    color: black
}

.columns-vis>ul>li {
    color: black
}