.form-exp {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
}

.div-include {
    border: 2px solid green;
}

.div-exclude {
    display: none;
    border: 2px solid red;
}

.sliders {
    width: 90%;
    min-width: 600px;
}

.slider-tag {
    width: 80px;
}

.range-info {
    width: 155px;
}

.range-info>input[type=text] {
    width: 50px;
}

.slider-div {
    width: 100%;
    min-width: 500px;
}

.slider {
    margin: 0px 15px 0px 15px;
}

#mouse-brain-img {
    display: none;
}

#div-filter-url {
    display: none;
    width: 100%;
    min-width: 375px;
}

#div-filter-url>input {
    min-width: 300px;
    max-width: 600px;
}