.content {
    padding: 10px 13px 10px 13px;
}

.content h1,
.content h2,
.content p,
.content li,
.content a {
    color: white;
}

.content a {
    font-weight: bold;
}

.form-exp {
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
}

.table {
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
}

.columns-vis {
    color: black
}

.columns-vis>ul>li {
    color: black
}