<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"/>
    <!-- css -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/base.css') }}"/>
    <!-- other dependencies -->
    {% block dependencies %}
    {% endblock %}
</head>
<body class="bg-secondary">
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand text-dark" href="{{ url_for('home') }}">X-Tract</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-secondary" href="{{ url_for('interface') }}">
                        Interface
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="{{ url_for('experiments') }}">Experiments</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdownMenuLink"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item disabled" tabindex="-1" aria-disabled="true" href="#">xtract</a>
                        <a class="dropdown-item" href="{{ url_for('aboutWebsite') }}">this website</a>
                    </div>
                </li>
            </ul>
            <!-- search input -->
            <!--
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form class="form-inline" action="#" method="get">
                        <div class="input-group">
                            <input class="form-control" type="search"
                                       placeholder="Search" aria-label="Search"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-success"
                                        type="submit"
                                        value="submit">
                                    Search
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
            -->
        </div>
    </nav>

    <div class="content">
        <h1 class="text-white">{{ self.title() }}</h1>
        <p>{{varTest}}</p>
        {% block content %}
        {% endblock %}
    </div>
</body>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous">
</script>
{% block dependenciesScripts %}
{% endblock %}
</html>