{% extends "display/base.html" %}

{% block title %}
    About this website
{% endblock %}

{% block content %}
    <p>
        The objective of this website is to better understand the topology
        of fibers at their points of intersection.
    </p>
    <br/>
    <p>
        With it, we will be able to:
    </p>
    <ul>
        <li>
            identify brain zones to study (points of interest) - TODO
        </li>
        <li>
            download its data using Allen Brain institute public API - TODO
        </li>
        <li>
            handle and analyse the downloaded data - TODO
        </li>
        <li>
            segment images and volumes - TODO
        </li>
        <li>
            analyse the result of our segmentation (fiber crossing) - TODO
        </li>
    </ul>
{% endblock %}