{% extends "display/base.html.j2" %}

{% block title %}
    Allen Brain
{% endblock %}

{% block dependencies %}
    <link rel="stylesheet" type="text/css"
          href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/autocomplete.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/allen_brain_connectivity.css') }}"/>
{% endblock %}

{% block content %}
    <p>
        We can also use <a href="https://connectivity.brain-map.org/projection">
        Allen Brain Atlas website</a> to get the data for experiments. Format
        <em>.xml</em> (experiment) or <em>.csv</em> (experiments container).
    </p>

    <div class="content-bg table-sm">
        <div class="filter-exp">
            <h2>Experiments filters</h2>
            <button class="btn btn-info" data-toggle="collapse" data-target="#structure">
                structure
            </button>
            <div id="structure" class="collapse">
                <hr/>
                <div class="autocomplete">
                    <label class="form-check-label" for="name">
                        <strong>name(s): </strong>
                    </label>
                    <input type="text" id="name" name="name" aria-describedby="name-help"
                        placeholder="name_1; name_2; ..." autocomplete="off"/>
                    <small id="name-help" class="text-muted">must be exact</small>
                </div>
                <br/>
                <div class="autocomplete">
                    <label class="form-check-label" for="acron">
                        <strong>acronym(s): </strong>
                    </label>
                    <input id="acron" type="text" name="acron"
                           placeholder="acronym_1; acronym_2; ..." autocomplete="off"/>
                </div>
                <br>
                <div class="autocomplete">
                    <label class="form-check-label" for="prim-name">
                        <strong>primary injection name(s): </strong>
                    </label>
                    <input type="text" id="prim-name" name="prim-name" aria-describedby="prim-name-help"
                        placeholder="name_1; name_2; ..." autocomplete="off"/>
                    <small id="prim-name-help" class="text-muted">must be exact</small>
                </div>
                <br/>
                <div class="autocomplete">
                    <label class="form-check-label" for="prim-acron">
                        <strong>primary injection acronym(s): </strong>
                    </label>
                    <input id="prim-acron" type="text" name="prim-acron"
                           placeholder="acronym_1; acronym_2; ..." autocomplete="off"/>
                </div>
                <hr/>
            </div>
            <button class="btn btn-info" data-toggle="collapse" data-target="#injection">
                injection
            </button>
            <div id="injection" class="collapse">
                <hr/>
                <label class="form-check-label" for="prod-id">
                    <strong>product(s) id: </strong>
                </label>
                <input id="prod-id" type="text" name="prod-id"
                       placeholder="id_1; id_2; ..." autocomplete="off"/>
                <br/>
                <strong>volume: </strong>
                <label class="form-check-label" for="min-vol">min</label>
                <input type="text" id="min-vol" name="min-vol"
                       placeholder="0.0" autocomplete="off"/>
                <label class="form-check-label" for="max-vol">max</label>
                <input type="text" id="max-vol" name="max-vol"
                       placeholder="0.0" autocomplete="off"/>
                <br/>
                <div class="sliders">
                    <div class="flex-container">
                        <div class="range-info">
                            <label class="text-dark" for="anterior">anterior:</label>
                            <input type="text" id="anterior" style="border:0; color:#f6931f; font-weight:bold;">
                        </div>
                        <div class="slider-div">
                            <div id="slider-range-depth" class="slider"></div>
                        </div>
                        <div class="range-info">
                            <label class="text-dark" for="posterior">posterior:</label>
                            <input type="text" id="posterior" style="border:0; color:#f6931f; font-weight:bold;">
                        </div>
                    </div>

                    <div class="flex-container">
                        <div class="range-info">
                            <label class="text-dark" for="lower">lower:</label>
                            <input type="text" id="lower" style="border:0; color:#f6931f; font-weight:bold;">
                        </div>
                        <div class="slider-div">
                            <div id="slider-range-height" class="slider"></div>
                        </div>
                        <div class="range-info">
                            <label class="text-dark" for="higher">higher:</label>
                            <input type="text" id="higher" style="border:0; color:#f6931f; font-weight:bold;">
                        </div>
                    </div>

                    <div class="flex-container">
                        <div class="range-info">
                            <label class="text-dark" for="left">left:</label>
                            <input type="text" id="left" style="border:0; color:#f6931f; font-weight:bold;">
                        </div>
                        <div class="slider-div">
                            <div id="slider-range-width" class="slider"></div>
                        </div>
                        <div class="range-info">
                            <label class="text-dark" for="right">right:</label>
                            <input type="text" id="right" style="border:0; color:#f6931f; font-weight:bold;">
                        </div>
                    </div>
                </div>

                {# TODO canvas to draw slider on img #}
                <img src="{{ url_for('static', filename='img/mouse_brain.png') }}"/>

                <hr/>
            </div>
            <button class="btn btn-info" data-toggle="collapse" data-target="#specimen">
                specimen
            </button>
            <div id="specimen" class="collapse">
                <hr/>
                <div class="autocomplete">
                    <label class="form-check-label" for="line">
                        <strong>line(s): </strong>
                    </label>
                    <input type="text" id="line" name="line" aria-describedby="line-help"
                        placeholder="line_1; line_2; ..." autocomplete="off"/>
                    <small id="line-help" class="text-muted">must be exact</small>
                </div>
                <br/>
                <label class="form-check-label" for="gender-select"><strong>gender: </strong></label>
                <select id="gender-select" name="gender-select" autocomplete="off">
                    <option value="any">ANY</option>
                    <option value="m">M</option>
                    <option value="f">F</option>
                </select>
                <br/>
                <label class="form-check-label" for="cre-select"><strong>cre: </strong></label>
                <select id="cre-select" name="cre-select" autocomplete="off">
                    <option value="any">ANY</option>
                    <option value="false">FALSE</option>
                    <option value="true">TRUE</option>
                </select>
                <hr/>
            </div>
        </div>

        <div>
            <button id="apply" class="btn btn-success">
                apply
            </button>
            <button id="generate-url" class="btn btn-primary">
                generate url
            </button>
            <div class="input-group mb-3" style="display: none;">
                <input type="text" id="filter-url" class="form-control" value="" disabled>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Copy</button>
                </div>
            </div>
        </div>

        <hr style="border: 1px solid black"/>

        <h2>Columns visibility</h2>
        <div class="columns-vis">
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="0"
                       id="experiment-id" value="experiment-id" autocomplete="off" checked/>
                <label class="form-check-label" for="experiment-id">experiment id</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="1"
                       id="structure-name" value="structure-name" autocomplete="off" checked/>
                <label class="form-check-label" for="structure-name">structure name</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="2"
                       id="primary-inject-struct" value="primary-inject-struct" autocomplete="off" checked/>
                <label class="form-check-label" for="primary-inject-struct">prim. inj. struct.</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="3"
                       id="product-id" value="product-id" autocomplete="off" checked/>
                <label class="form-check-label" for="product-id">product id</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="4"
                       id="injection-vol" value="injection-vol" autocomplete="off" checked/>
                <label class="form-check-label" for="injection-vol">injection vol.</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="5"
                       id="injection-xyz" value="injection-xyz" autocomplete="off" checked/>
                <label class="form-check-label" for="injection-xyz">injection (x,y,z)</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="6"
                       id="transgenic-line" value="transgenic-line" autocomplete="off" checked/>
                <label class="form-check-label" for="transgenic-line">transgenic line</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="7"
                       id="specimen-name" value="specimen-name" autocomplete="off" checked/>
                <label class="form-check-label" for="specimen-name">specimen name</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="8"
                       id="gender" value="gender" autocomplete="off" checked/>
                <label class="form-check-label" for="gender">gender </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="9"
                       id="cre" value="cre" autocomplete="off" checked/>
                <label class="form-check-label" for="cre">cre </label>
            </div>
        </div>

        <hr style="border: 1px solid black"/>

        <table id="experiments" class="datatable" cellspacing="0" width="100%">
            <thead>
                <th>experiment id</th>
                <th>structure</th>
                <th>primary injection structure</th>
                <th>product id</th>
                <th>injection vol.</th>
                <th>injection (x,y,z)</th>
                <th>transgenic line</th>
                <th>specimen name</th>
                <th>gender</th>
                <th>cre</th>
            </thead>

            <tfoot>
                <th>experiment id</th>
                <th>structure</th>
                <th>primary injection structure</th>
                <th>product id</th>
                <th>injection vol.</th>
                <th>injection (x,y,z)</th>
                <th>transgenic line</th>
                <th>specimen name</th>
                <th>gender</th>
                <th>cre</th>
            </tfoot>

            <tbody>
                {% for i in range(0, all_exp|length) %}
                <tr>
                    <td>
                        <a target="_blank" rel="noopener noreferrer" href="/experiments/{{ all_exp.iloc[i]['id'] }}">
                            {{ all_exp.iloc[i]['id'] }}
                        </a>
                    </td>
                    <td>
                        {{ struct_dict[all_exp.iloc[i]['structure_id']] }}
                    </td>
                    <td>
                        {{ struct_dict[all_exp.iloc[i]['primary_injection_structure']] }}
                    </td>
                    <td>
                        {{ all_exp.iloc[i]['product_id'] }}
                    </td>
                    <td>
                        {{ all_exp.iloc[i]['injection_volume'] }}
                    </td>
                    <td>
                        ({{ all_exp.iloc[i]['injection_x'] }},
                        {{ all_exp.iloc[i]['injection_y'] }},
                        {{ all_exp.iloc[i]['injection_z'] }})
                    </td>
                    <td>
                        {{ all_exp.iloc[i]['transgenic_line'] }}
                    </td>
                    <td>
                        {{ all_exp.iloc[i]['specimen_name'] }}
                    </td>
                    <td>
                        {{ all_exp.iloc[i]['gender'] }}
                    </td>
                    <td>
                        {{ all_exp.iloc[i]['cre'] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr/>
    <div class="content-bg">
        <h2>Downloads</h2>
        <form>
            <label for="res-nrrd">resolution:</label>
            <select id="res-nrrd">
                <option>100</option>
                <option>50</option>
                <option>25</option>
                <option>10</option>
            </select>
        </form>
        {#
            available img type:
                - projection_density
                - projection_energy
                - injection_fraction
                - injection_density
                - injection_energy
                - data_mask
        #}
        <div class="form-check form-check-inline">
            <input type="checkbox" id="projection-density"/>
            <label class="form-check-label" for"projection-density">projection density</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" id="projection-energy"/>
            <label class="form-check-label" for"projection-energy">projection energy</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" id="injection-fraction"/>
            <label class="form-check-label" for"injection-fraction">injection fraction</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" id="injection-density"/>
            <label class="form-check-label" for"injection-density">injection density</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" id="injection-energy"/>
            <label class="form-check-label" for"injection-energy">injection energy</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="checkbox" id="data-mask"/>
            <label class="form-check-label" for"data-mask">data mask</label>
        </div>
        <br/>
        <button id="download-all-nrrd">Click me</button>
    </div>
{% endblock %}

{% block dependenciesScripts %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {# datatable #}
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    {# for page skip with datatable https://datatables.net/plug-ins/pagination/input #}
    <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>

    {# socket.io #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/download_zip.js') }}"></script>
{% endblock %}