{% extends "display/base.html" %}

{% block title %}
    Allen Brain
{% endblock %}

{% block dependencies %}
    <link rel="stylesheet" type="text/css"
          href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
{% endblock %}

{% block content %}
    <p>
        We can also use <a href="https://connectivity.brain-map.org/projection">
        Allen Brain Atlas website</a> to get the data for experiments. Format
        <em>.xml</em> (experiment) or <em>.csv</em> (experiments container).
    </p>

    <div class="content-bg table-sm">
        <div class="filter-exp">
            <h2>Experiments filters</h2>
            <button class="btn btn-info" data-toggle="collapse" data-target="#structure">
                structure
            </button>
            <div id="structure" class="collapse">
                <hr/>
                <div class="autocomplete">
                    <label class="form-check-label" for="name">
                        <strong>name(s): </strong>
                    </label>
                    <input type="text" id="name" name="name" aria-describedby="name-help"
                        placeholder="name_1; name_2; ..." autocomplete="off"/>
                    <small id="name-help" class="text-muted">must be exact</small>
                </div>
                <br/>
                <div class="autocomplete">
                    <label class="form-check-label" for="acron">
                        <strong>acronym(s): </strong>
                    </label>
                    <input id="acron" type="text" name="acron"
                           placeholder="acronym_1; acronym_2; ..." autocomplete="off"/>
                </div>
                <br>
                <div class="autocomplete">
                    <label class="form-check-label" for="prim-name">
                        <strong>primary injection name(s): </strong>
                    </label>
                    <input type="text" id="prim-name" name="prim-name" aria-describedby="prim-name-help"
                        placeholder="name_1; name_2; ..." autocomplete="off"/>
                    <small id="prim-name-help" class="text-muted">must be exact</small>
                </div>
                <br/>
                <div class="autocomplete">
                    <label class="form-check-label" for="prim-acron">
                        <strong>primary injection acronym(s): </strong>
                    </label>
                    <input id="prim-acron" type="text" name="prim-acron"
                           placeholder="acronym_1; acronym_2; ..." autocomplete="off"/>
                </div>
                <hr/>
            </div>
            <button class="btn btn-info" data-toggle="collapse" data-target="#injection">
                injection
            </button>
            <div id="injection" class="collapse">
                <hr/>
                <label class="form-check-label" for="prod-id">
                    <strong>product(s) id: </strong>
                </label>
                <input id="prod-id" type="text" name="prod-id"
                       placeholder="id_1; id_2; ..." autocomplete="off"/>
                <br/>
                <strong>volume: </strong>
                <label class="form-check-label" for="min-vol">min</label>
                <input type="text" id="min-vol" name="min-vol"
                       placeholder="0.0" autocomplete="off"/>
                <label class="form-check-label" for="max-vol">max</label>
                <input type="text" id="max-vol" name="max-vol"
                       placeholder="0.0" autocomplete="off"/>
                <br/>
                <strong><em>'x'</em> coordinate: </strong>
                <label class="form-check-label" for="min-x">min</label>
                <input type="text" id="min-x" name="min-x"
                       placeholder="0" autocomplete="off"/>
                <label class="form-check-label" for="max-x">max</label>
                <input type="text" id="max-x" name="max-x"
                       placeholder="0" autocomplete="off"/>
                <br/>
                <strong><em>'y'</em> coordinate: </strong>
                <label class="form-check-label" for="min-y">min</label>
                <input type="text" id="min-y" name="min-y"
                       placeholder="0" autocomplete="off"/>
                <label class="form-check-label" for="max-y">max</label>
                <input type="text" id="max-y"
                       placeholder="0" name="max-y"/>
                <br/>
                <strong><em>'z'</em> coordinate: </strong>
                <label class="form-check-label" for="min-z">min</label>
                <input type="text" id="min-z" name="min-z"
                       placeholder="0" autocomplete="off"/>
                <label class="form-check-label" for="max-z">max</label>
                <input type="text" id="max-z" name="max-z"
                       placeholder="0" autocomplete="off"/>
                <hr/>
            </div>
            <button class="btn btn-info" data-toggle="collapse" data-target="#specimen">
                specimen
            </button>
            <div id="specimen" class="collapse">
                <hr/>
                <div class="autocomplete">
                    <label class="form-check-label" for="line">
                        <strong>line(s): </strong>
                    </label>
                    <input type="text" id="line" name="line" aria-describedby="line-help"
                        placeholder="line_1; line_2; ..." autocomplete="off"/>
                    <small id="line-help" class="text-muted">must be exact</small>
                </div>
                <br/>
                <div class="autocomplete">
                    <label class="form-check-label" for="spec-name">
                        <strong>name(s): </strong>
                    </label>
                    <input type="text" id="spec-name" name="spec-name"
                        placeholder="name_1; name_2; ..." autocomplete="off"/>
                </div>
                <br/>
                <label class="form-check-label" for="gender-select"><strong>gender: </strong></label>
                <select id="gender-select" name="gender-select" autocomplete="off">
                    {# TODO options should be generated in javascript where eventlistener will be handled #}
                    <option value="any">ANY</option>
                    <option value="m">M</option>
                    <option value="f">F</option>
                </select>
                <br/>
                <label class="form-check-label" for="cre-select"><strong>cre: </strong></label>
                <select id="cre-select" name="cre-select" autocomplete="off">
                    {# TODO options should be generated in javascript where eventlistener will be handled #}
                    <option value="any">ANY</option>
                    <option value="false">FALSE</option>
                    <option value="true">TRUE</option>
                </select>
                <hr/>
            </div>
        </div>

        <hr style="border: 1px solid black"/>

        <h2>Columns visibility</h2>
        <div class="columns-vis">
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="0"
                       id="experiment-id" value="experiment-id" autocomplete="off" checked/>
                <label class="form-check-label" for="experiment-id">experiment id</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="1"
                       id="structure-name" value="structure-name" autocomplete="off" checked/>
                <label class="form-check-label" for="structure-name">structure name</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="2"
                       id="primary-inject-struct" value="primary-inject-struct" autocomplete="off" checked/>
                <label class="form-check-label" for="primary-inject-struct">prim. inj. struct.</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="3"
                       id="product-id" value="product-id" autocomplete="off" checked/>
                <label class="form-check-label" for="product-id">product id</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="4"
                       id="injection-vol" value="injection-vol" autocomplete="off" checked/>
                <label class="form-check-label" for="injection-vol">injection vol.</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="5"
                       id="injection-xyz" value="injection-xyz" autocomplete="off" checked/>
                <label class="form-check-label" for="injection-xyz">injection (x,y,z)</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="6"
                       id="transgenic-line" value="transgenic-line" autocomplete="off" checked/>
                <label class="form-check-label" for="transgenic-line">transgenic line</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="7"
                       id="specimen-name" value="specimen-name" autocomplete="off" checked/>
                <label class="form-check-label" for="specimen-name">specimen name</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="8"
                       id="gender" value="gender" autocomplete="off" checked/>
                <label class="form-check-label" for="gender">gender </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="toggle-vis form-check-input" type="checkbox" data-column="9"
                       id="cre" value="cre" autocomplete="off" checked/>
                <label class="form-check-label" for="cre">cre </label>
            </div>
        </div>

        <hr style="border: 1px solid black"/>

        <table id="experiments" class="datatable" cellspacing="0" width="100%">
            <thead>
                <th>experiment id</th>
                <th>structure</th>
                <th>primary injection structure</th>
                <th>product id</th>
                <th>injection vol.</th>
                <th>injection (x,y,z)</th>
                <th>transgenic line</th>
                <th>specimen name</th>
                <th>gender</th>
                <th>cre</th>
            </thead>

            <tfoot>
                <th>experiment id</th>
                <th>structure</th>
                <th>primary injection structure</th>
                <th>product id</th>
                <th>injection vol.</th>
                <th>injection (x,y,z)</th>
                <th>transgenic line</th>
                <th>specimen name</th>
                <th>gender</th>
                <th>cre</th>
            </tfoot>

            <tbody>
                {% for i in range(0, cre_neg_exp|length) %}
                <tr>
                    <td>
                        <a href="/experiments/{{ cre_neg_exp.iloc[i]['id'] }}">
                            {{ cre_neg_exp.iloc[i]['id'] }}
                        </a>
                    </td>
                    <td>
                        {{ struct_dict[cre_neg_exp.iloc[i]['structure_id']] }}
                    </td>
                    <td>
                        {{ struct_dict[cre_neg_exp.iloc[i]['primary_injection_structure']] }}
                    </td>
                    <td>
                        {{ cre_neg_exp.iloc[i]['product_id'] }}
                    </td>
                    <td>
                        {{ cre_neg_exp.iloc[i]['injection_volume'] }}
                    </td>
                    <td>
                        ({{ cre_neg_exp.iloc[i]['injection_x'] }},
                        {{ cre_neg_exp.iloc[i]['injection_y'] }},
                        {{ cre_neg_exp.iloc[i]['injection_z'] }})
                    </td>
                    <td>
                        {{ cre_neg_exp.iloc[i]['transgenic_line'] }}
                    </td>
                    <td>
                        {{ cre_neg_exp.iloc[i]['specimen_name'] }}
                    </td>
                    <td>
                        {{ cre_neg_exp.iloc[i]['gender'] }}
                    </td>
                    <td>
                        False
                    </td>
                </tr>
                {% endfor %}
                {% for i in range(0, cre_pos_exp|length) %}
                <tr>
                    <td>
                        <a href="/experiments/{{ cre_pos_exp.iloc[i]['id'] }}">
                            {{ cre_pos_exp.iloc[i]['id'] }}
                        </a>
                    </td>
                    <td>
                        {{ struct_dict[cre_pos_exp.iloc[i]['structure_id']] }}
                    </td>
                    <td>
                        {{ struct_dict[cre_pos_exp.iloc[i]['primary_injection_structure']] }}
                    </td>
                    <td>
                        {{ cre_pos_exp.iloc[i]['product_id'] }}
                    </td>
                    <td>
                        {{ cre_pos_exp.iloc[i]['injection_volume'] }}
                    </td>
                    <td>
                        ({{ cre_pos_exp.iloc[i]['injection_x'] }},
                        {{ cre_pos_exp.iloc[i]['injection_y'] }},
                        {{ cre_pos_exp.iloc[i]['injection_z'] }})
                    </td>
                    <td>
                        {{ cre_pos_exp.iloc[i]['transgenic_line'] }}
                    </td>
                    <td>
                        {{ cre_pos_exp.iloc[i]['specimen_name'] }}
                    </td>
                    <td>
                        {{ cre_pos_exp.iloc[i]['gender'] }}
                    </td>
                    <td>
                        True
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block dependenciesScripts %}
    {# datatable #}
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    {# for page skip with datatable https://datatables.net/plug-ins/pagination/input #}
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}